.App {
  text-align: center;
  height: 100vh;
  background-color: #222;
  font-family: 'Gugi', cursive;
  color: white;
}
.App-logo{
  max-width: 80%;
}
h1{
  margin-top: 4px;
}
 

.App-header {
 
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
 